# --- Cartelle personali e cache ---
mari/ectuner/ecmean/gm_lres/
mari/ectuner/ecmean/gm_sres/
mari/ectuner/myconfigs/myconfig_415_2d_LR.yaml
mari/ectuner/myconfigs/myconfig_415_LR.yaml
mari/jobs/
mari/mio_script/slurm*.out
mari/mio_script/prova.py
mari/results/tuned/
mari/results/tuned_2d/
mari/results/logs/
mari/results/plots/
mari/results/*.nc
mari/results/tuned_2d_LR/old
mari/results/tuned_2d_LR/__pycache__/
mari/results/tuned_2d_LR/.ipynb_checkpoints/
mari/results/tuned_2d_LR/hybrid_test/l1/r2/
mari/results/tuned_2d_LR/hybrid_test/l2/
mari/results/tuned_2d_LR/hybrid_test/configurations/
mari/results/tuned_2d_LR/prova_1d_rsnt/
mari/results/tuned_2d_LR/prova_1d_SO/
mari/results/tuned_2d_LR/plots/

__pycache__/
ectuner/__pycache__/

ectuner/data/ecmean/**/figs/
ectuner/data/sensitivities/NO_sensitivity_TL255_415_1991-2000_v2.yaml
ectuner/data/sensitivities/2D/NO_sensitivity_TL255_415_1991-2000_v2_2D.yaml

ectuner_old/